In [9]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
%matplotlib inline
import matplotlib 
matplotlib.rcParams["figure.figsize"] = (20,10)

In [10]:
df12 = pd.read_csv("waterdept_prediction.csv")

In [11]:
df12.shape

(168, 7)

In [12]:
df12.head(10)

,Year,Month,Irrigation,Rainfall,Tem,Evaporation,Depth
0,2000,1,1992.508320,314.195717,-19.295408,12040.447639,8.972729
1,2000,2,-2042.251709,-1633.766775,-38.449836,18045.516826,8.837238
2,2000,3,-1374.450691,868.263712,-36.962377,90248.598688,10.716839
3,2000,4,29951.326599,309.857142,-13.165645,141672.950997,8.904410
4,2000,5,43748.371155,-291.325005,19.602103,188789.213348,6.858177
5,2000,6,34502.648660,17799.096834,57.737034,149223.642081,5.284515
6,2000,7,30296.987386,14179.731055,91.136063,173045.996346,6.096910
7,2000,8,19459.005158,29671.991295,106.061944,125595.394087,7.886008
8,2000,9,17758.697582,21215.182308,110.797848,93648.565330,7.917243
9,2000,10,62539.841418,4294.421332,86.914527,55423.354404,7.545082

In [13]:
X = df12.drop(['Depth'],axis='columns')
y = df12.Depth

In [14]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.2,random_state=10)

In [15]:
from sklearn.linear_model import LinearRegression
lr_clf = LinearRegression()
lr_clf.fit(X_train,y_train)
lr_clf.score(X_test,y_test)

0.18700993756368223

In [16]:
from sklearn.model_selection import ShuffleSplit
from sklearn.model_selection import cross_val_score

cv = ShuffleSplit(n_splits=5, test_size=0.2, random_state=0)

cross_val_score(LinearRegression(), X, y, cv=cv)

array([0.41892064, 0.36851231, 0.3348585 , 0.34438948, 0.283743  ])

In [17]:
import pickle
with open('waterdept.pickle','wb') as f:
    pickle.dump(lr_clf,f)

In [18]:
import json
columns = {
    'data_columns' : [col.lower() for col in X.columns]
}
with open("columns.json","w") as f:
    f.write(json.dumps(columns))